
.DS_Store
.gradle/
build/generated/assets/
build/generated/res/
build/generated/source/aidl/
build/generated/source/rs/
build/intermediates/bundles/release/aidl/
build/intermediates/bundles/release/assets/
build/intermediates/bundles/release/jni/
build/intermediates/dependency-cache/
build/intermediates/jniLibs/
build/intermediates/lint/
build/intermediates/rs/
build/intermediates/shaders/
build/intermediates/transforms/mergeJniLibs/
build/tmp/compileReleaseJavaWithJavac/
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/com/.DS_Store
src/main/java/com/yunos/.DS_Store
src/main/java/com/yunos/tv/.DS_Store
src/main/java/com/yunos/tv/androidlib/.DS_Store
src/main/java/com/yunos/tv/androidlib/net/.DS_Store
src/main/java/com/yunos/tv/androidlib/ui/activity/.DS_Store
